.right{
    display: inline-block;
   
    position: absolute;
    right: -198px;
    top: 20px;
}
.left{
    display: inline-block;
    /* border: 3px solid red; */
    position: absolute;
    left: 12px;
    top: 17px;
}
.left div{
    position: relative;
    text-align: center;
    line-height: 0px;
    font-size: 22px;
    top: 0px;
}
.mid{
    display: block;
    /* border: 3px solid blue; */
    width: 48%;
    margin: 12px auto;
}
.nav-li{
    border: 2px solid white;
    border-radius: 23px;
    margin: 4px auto;
    text-align: center;
}
.container{
    border: 2px solid white;
    margin: 27px 49px;
    padding: 5px;
    width: 120%;
    border-radius: 29px;
}
.home{
    border: 2px solid white;
    border-radius: 33px;
    text-align: center;
    padding: 35px 20px;
    margin: 26px 32px;
    width: 119%;
}
#fit-calc button{
    border: 2px solid rgb(17, 17, 17);
    border-radius: 23px;
    padding: 12px 12px;
    margin: 12px 12px;
    position: relative;
    left: 133px;
}
